anyio
certifi
click
colorama
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
orjson
pydantic
PyMySQL
python-dotenv
python-multipart
PyYAML
sniffio
starlette
typing_extensions
ujson
uvicorn
watchfiles
websockets
